<!-- 
Developer Name: Brendon Lee Yi Hao
Course Name: BSc (Hons) Software Engineering
Last Modified: 5/7/2023
 -->

 <nz-carousel [nzDots]="false" [nzEnableSwipe]="false" style="height:280px;background-image: url('/assets/image/bluegreen.jpg'); background-repeat:no-repeat;background-size:cover">
    <div nz-carousel-content >
        <div class="mx-auto max-w-7xl py-6 sm:px-6 lg:px-8">
            <h1 class="pt-9 xs:px-5 lg:px-16 text-4xl font-bold text-stone-950 " >DISCOVER APU</h1><br>
            <h3 class="xs:px-5 lg:px-16 text-lg font-serif text-stone-950" >Your journey starts right here and now. No waitings and just explore your future.</h3>
        </div> 
    </div>
</nz-carousel>

<div style="max-width:1100px;margin:auto;padding:0px 10px">
    <p class="lg:text-4xl text-center pt-6 pb-4 px-2.5 font-bold xs:text-3xl ">HISTORY</p>
    
    <p class="lg:text-lg bg-slate-200 p-6 rounded-xl text-justify sm:text-sm">
        Asia Pacific University of Technology & Innovation (APU) unveiled the new iconic campus 
        in 2017 that is strategically located in Technology Park Malaysia (TPM), Bukit Jalil. 
        APU is a top-notch University recognised as a Premier Digital University by MDEC and was 
        rated 5-Stars at the SETARA 2017 Ratings by Ministry of Higher Education. APU&#39;s 
        Campus blends technology, integration, innovation and creativity under one roof. 
        Designed by award-winning consultants and architects, APU&#39;s new iconic campus provides 
        not just a university learning environment, but also a lively community spot for our 
        students to formulate new ideas, gain intellectual growth and discover new adventures. 
        Being a university student can be one of your most exciting expeditions. 
        Higher education opens up a world of new ideas, intellectual growth, social, sporting and 
        cultural activities, new adventures and the building of lifelong friendships. 
        Here at APU, we support you to take the time to explore not only the educational 
        experiences but also the wide range of social, sporting, cultural activities and active discussion 
        in campus library.
    </p>
    <h1 class="lg:text-4xl text-center pt-8 pb-4 px-2.5 font-bold xs:text-3xl">OUR MISSION</h1>
    <p class="lg:text-lg bg-slate-200 p-6 rounded-xl text-jutsify sm:text-sm">
        To be a leading university of technology and innovation transforming students into 
        highly employable, highly skilled articulating skills, competent and future-proof professionals.
    </p>
        <h1 class="lg:text-4xl pt-8 pb-4 px-2.5 text-center font-bold xs:text-3xl">OUR VISION</h1>
        <p class="lg:text-lg bg-slate-200 p-6 rounded-xl text-justify sm:text-sm">
            We provide <b>high quality, affordable, innovative</b> and <b>internationally benchmarked </b>
            education and research in a <b>professional, ethical and student centred</b> manner by 
            designing and delivering a range of enriching and distinctive learning experiences inclusive of 
            state-of-the-art reservation and library facilities which facilitate productive discussion.
        </p>

    <h1 class="lg:text-4xl pt-8 pb-4 px-2.5 text-center font-bold xs:text-3xl">MEET OUR LIBRARIAN TEAM</h1>
</div>


<div style="margin:auto;max-width:1000px;text-align: center;min-height:400px">
    <nz-row>
        <nz-col [nzXs]="24" [nzSm]="12" style="text-align: center;padding:10px;margin:auto;height:450px">            
            <img src="/assets/image/Librarian.jpg" style="width:250px;height:340px;margin:auto;border-radius:10px">
            <p style="color: #006dae;font-size:20px"><b>Christine Lim Yin Xing</b></p>
            <p style="max-width:250px;margin:auto;font-size:16px;font-weight: bold;">APU LIBRARIAN</p>
            <p>Phone: <b>012-9403221</b></p>
            <p>Email: <b>christinelyx@gmail.com</b></p>
        </nz-col>
        <nz-col [nzXs]="24" [nzSm]="12" style="text-align: center;padding:10px;margin:auto;height:450px">            
            <img src="/assets/image/LibrarianExec.jpg" style="width:240px;height:340px;margin:auto;border-radius:10px">
            <p style="color: #006dae;font-size:20px"><b>Issac Lee Kang Hao</b></p>
            <p style="max-width:250px;margin:auto;font-size:16px;font-weight: bold;">APU LIBRARIAN EXECUTIVE</p>
            <p>Phone: <b>017-9043231</b></p>
            <p>Email: <b>issaclkh@gmail.com</b></p>
        </nz-col>
    </nz-row>
</div>
<br><br><br>



