<!-- 
Developer Name: Brendon Lee Yi Hao
Course Name: BSc (Hons) Software Engineering
Last Modified: 5/7/2023
 -->

<div class="min-h-full">
  <nav style="background-color: rgb(245, 213, 209);">
    <div class="mx-auto max-w-7xl px-4 sm:px-4 lg:px-8">
      <div class="flex h-20 items-center justify-between">
        <div class="flex items-center h-full py-6">
          <div class="flex-shrink-0">
            <a routerLink=""><img class="h-10 w-30" src="/assets/image/APULOGO.png" alt="APU"></a>
          </div>
          <div class="hidden lg:block">
            <div class="ml-10 flex items-center justify-center space-x-5">
              <a routerLink="/home" routerLinkActive="active" class="text-black-300 hover:bg-gray-700 hover:text-white rounded-md px-4 py-2 text-base font-medium" aria-current="page">Home</a>
              <a routerLink="/about" routerLinkActive="active" class="text-black-300 hover:bg-gray-700 hover:text-white rounded-md px-4 py-2 text-base font-medium text-center">About</a>
              <a routerLink="/services" routerLinkActive="active" class="text-black-300 hover:bg-gray-700 hover:text-white rounded-md px-4 py-2 text-base font-medium">Services</a>
              <a routerLink="/contact" routerLinkActive="active" class="text-black-300 hover:bg-gray-700 hover:text-white rounded-md px-4 py-2 text-base font-medium text-center">Contact</a>
              <a routerLink="/book" routerLinkActive="active" class="hover:bg-gray-700 hover:text-white rounded-md px-4 py-2 text-base font-medium" style="color:goldenrod">Booking</a>
            </div>
          </div>
        </div>
        <div class="hidden lg:block">
          <button *ngIf="!isLogin" routerLink="/registerpublic" routerLinkActive="active" class="text-black-300 hover:bg-gray-700 hover:text-white font-medium px-7 py-2 mr-2" style="background-color: rgb(242, 75, 75);border-radius:30px">Sign Up</button>
          <button *ngIf="!isLogin" routerLinkActive="active" class="text-black-300 hover:bg-gray-700 hover:text-white font-medium px-7 py-2" style="background-color: rgb(76, 218, 80);border-radius:30px" (click)="login()">Login</button>
          <div class="ml-4 flex items-center md:ml-6" *ngIf="isLogin">
            <!-- Profile dropdown -->
            <div class="relative ml-3">
              <div>
                <a nz-dropdown [nzDropdownMenu]="menu" [nzPlacement]="'bottomRight'">
                    <nz-avatar nzSize="large" nzIcon="user"></nz-avatar>
                </a>
              </div>
           
              <nz-dropdown-menu #menu="nzDropdownMenu">
                  <ul nz-menu nzPlacement="left" style="margin-top:15px;border-radius: 10px;">
                    <li nz-menu-item routerLink="/profile" routerLinkActive="active" nzMatchRouter style="border-radius:10px;padding:10px">Manage Profile</li>
                    <li nz-menu-item routerLink="/booking-history" routerLinkActive="active" nzMatchRouter style="border-radius:10px;padding:10px">Manage Booking History</li>
                    <li nz-menu-item style="border-radius:10px;padding:10px" (click)="logout()">Logout</li>
                  </ul>
              </nz-dropdown-menu>
            </div>
          </div>
        </div>
        <div class="-mr-2 flex lg:hidden">
          <!-- Mobile menu button -->
          <button type="button" class="inline-flex items-center justify-center rounded-md bg-gray-800 p-2 text-gray-400 hover:bg-gray-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800" aria-controls="mobile-menu" aria-expanded="false" (click)="toggleMenu()">
            <span class="sr-only">Open main menu</span>
            <!-- Menu open: "hidden", Menu closed: "block" -->
            <svg class="block h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="false">
              <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
            </svg>
            <!-- Menu open: "block", Menu closed: "hidden" -->
            <svg class="hidden h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
            </svg>
          </button>
        </div>
      </div>
    </div>

    <!-- Mobile menu, show/hide based on menu state. -->
    <div class="lg:hidden hidden" id="mobile-menu">
      <div class="space-y-1 px-2 pb-3 pt-2 sm:px-3">
        <a routerLink="/home" routerLinkActive="active" (click)="toggleMenu()" class="text-black-300 hover:bg-gray-700 hover:text-white block rounded-md px-3 py-2 text-base font-medium">Home</a>
        <a routerLink="/about" routerLinkActive="active" (click)="toggleMenu()" class="text-black-300 hover:bg-gray-700 hover:text-white block rounded-md px-3 py-2 text-base font-medium">About</a>
        <a routerLink="/services" routerLinkActive="active" (click)="toggleMenu()" class="text-black-300 hover:bg-gray-700 hover:text-white block rounded-md px-3 py-2 text-base font-medium">Services</a>
        <a routerLink="/contact" routerLinkActive="active" (click)="toggleMenu()" class="text-black-300 hover:bg-gray-700 hover:text-white block rounded-md px-3 py-2 text-base font-medium">Contact</a>
        <a routerLink="/book" routerLinkActive="active" (click)="toggleMenu()" class="hover:bg-gray-700 hover:text-white block rounded-md px-3 py-2 text-base font-medium" style="color:goldenrod">Booking</a>
        <a routerLink="/registerpublic" routerLinkActive="active" *ngIf="!isLogin" (click)="toggleMenu()" class="text-black-300 hover:bg-gray-700 hover:text-white block rounded-md px-3 py-2 text-base font-medium">Sign Up</a>
        <a routerLink="/login" routerLinkActive="active" *ngIf="!isLogin" (click)="toggleMenu()" class="text-black-300 hover:bg-gray-700 hover:text-white block rounded-md px-3 py-2 text-base font-medium">Login</a>
      </div>
      <div class="border-t border-gray-700 pb-3 pt-4" *ngIf="isLogin">
        <div class="space-y-1 px-2 sm:px-3">
          <a routerLink="/profile" routerLinkActive="active" (click)="toggleMenu()" class="block rounded-md px-3 py-2 text-base font-medium text-gray-400 hover:bg-gray-700 hover:text-white">Manage Profile</a>
          <a routerLink="/booking-history" routerLinkActive="active" (click)="toggleMenu()" class="block rounded-md px-3 py-2 text-base font-medium text-gray-400 hover:bg-gray-700 hover:text-white">Manage Booking History</a>
          <a (click)="logout()" class="block rounded-md px-3 py-2 text-base font-medium text-gray-400 hover:bg-gray-700 hover:text-white">Sign out</a>
        </div>
      </div>
    </div>
  </nav>
  <main>
      <router-outlet></router-outlet>
  </main>
      <app-footer></app-footer>
</div>
<nz-back-top [nzTemplate]="tpl" [nzVisibilityHeight]="100" >
  <ng-template #tpl>
      <div class="ant-back-top-inner"><span nz-icon nzType="arrow-up" nzTheme="outline"></span></div>
  </ng-template>
</nz-back-top>
