<!-- 
Developer Name: Brendon Lee Yi Hao
Course Name: BSc (Hons) Software Engineering
Last Modified: 5/7/2023
 -->

  <p class="text-center text-3xl font-bold p-5">APU Library Discussion Room</p>

  <img src="/assets/image/Home3.jpg" style="background-repeat:no-repeat;background-size:cover;width:100%;">
  <div class="h-auto" style="background-image: url('/assets/image/fireworkmodified.png'); background-repeat:no-repeat;background-size:cover">
        <div class="mx-auto max-w-7xl py-12 sm:px-6 lg:px-8">
            <h1 class="py-5 xs:px-5 lg:px-16 text-4xl font-bold text-slate-50 text-center" >OUR RANKINGS AND SUCCESS</h1><br>
            <nz-row>
              <nz-col [nzXs]="24" [nzSm]="12" [nzLg]="6" style="text-align: center;padding:15px;margin:auto;height:380px">            
                  <div style="background-color:rgba(82, 74, 60, 0.742);height:380px">
                    <span nz-icon nzType="global" nzTheme="outline" style="font-size:150px;color:white;padding:20px 0px"></span>
                    <div class="opacity-100">
                      <p style="color: #ffffff;font-size:20px">Ranked Unknown Globally</p>
                      <p style="max-width:250px;margin:auto;font-size:16px;font-weight: bold;color: #ffffff;">
                        Up 13 places in the Times Higher Education (THE) World University Rankings 2023.
                      </p>
                    </div>
                  </div>
              </nz-col>
              <nz-col [nzXs]="24" [nzSm]="12" [nzLg]="6" style="text-align: center;padding:15px;margin:auto;height:380px"> 
                <div style="background-color:rgba(82, 74, 60, 0.742);height:380px">
                  <div class="font-extrabold text-white" style="height:150px;">
                      <p style="font-size:120px;"><sup style="font-size:70px">#</sup>1</p>
                  </div>
                  <p style="color: #ffffff;font-size:20px;padding-top:40px">Information Technology</p>
                  <p style="max-width:250px;margin:auto;font-size:16px;font-weight: bold;color: #ffffff;">
                    Ranked #1 in Malaysia, 1 out of 19 QS World University Rankings by Subject 2023.
                  </p>
                </div>              
              </nz-col>
              <nz-col [nzXs]="24" [nzSm]="12" [nzLg]="6" style="text-align: center;padding:15px;margin:auto;height:380px">            
                <div style="background-color:rgba(82, 74, 60, 0.742);height:380px">
                    <span nz-icon nzType="line-chart" nzTheme="outline" style="font-size:150px;color:white;padding:20px 0px"></span>
                    <p style="color: #ffffff;font-size:20px">Best Library in Asia</p>
                    <p style="max-width:250px;margin:auto;font-size:16px;font-weight: bold;color: #ffffff;">
                     Superb design and environment with diversified multicultural learning experience.
                    </p>
                  </div>

            </nz-col>
            <nz-col [nzXs]="24" [nzSm]="12" [nzLg]="6" style="text-align: center;padding:15px;margin:auto;height:380px">            
              <div style="background-color:rgba(82, 74, 60, 0.742);height:380px">
                <span nz-icon nzType="star" nzTheme="outline" style="font-size:150px;color:white;padding:20px 0px"></span>
                <p style="color: #ffffff;font-size:20px">5-star SETARA rating</p>
                <p style="max-width:250px;margin:auto;font-size:16px;font-weight: bold;color: #ffffff;">
                  We sit in the very top cohort of “outstanding universities” in Malaysia, constantly improving in the IT domain.
                </p>
              </div>
              
            </nz-col>
          </nz-row>
        </div> 
        
  </div>

  <div style="background-image: url('/assets/image/ReviewBg.png'); background-repeat:no-repeat;background-size:cover">
    <div class="mx-auto max-w-7xl py-12 sm:px-6 lg:px-8"  >
        <div class="pb-10">
          <nz-row style="display:flex;align-items:center">
            <nz-col [nzMd]="6" [nzLg]="5" >
              <img src="/assets/image/Review1.png" style="width:150px;height:150px;border-radius:50%;margin-left:10px;">
            </nz-col>
            <nz-col [nzMd]="18" [nzLg]="19" >
              <div style="padding:0px 10px">
                <p class="font-bold text-3xl py-2 text-white">James Richardson</p>
                <p class="text-lg text-white">APU Library Room Reservation is magnificent in all forms, from its easiness to book via the website and the overall booking process is state-of-the-art!</p>
              </div>
            </nz-col>
          </nz-row>
        </div>
        <div>
          <nz-row style="display:flex;align-items:center">
            <nz-col [nzMd]="6" [nzLg]="5" >
              <img src="/assets/image/Review3.png" style="width:180px;height:180px;border-radius:50%;">
            </nz-col>
            <nz-col [nzMd]="18" [nzLg]="19" >
              <div style="padding:0px 10px">
                <p class="font-bold text-3xl py-2 text-white">Daniel Orchard Matsruggen</p>
                <p class="text-lg text-white">Real-time information about room availability is provided, enabling users to identify which rooms are free at a given time with cancellation flexibility.</p>
              </div>
            </nz-col>
          </nz-row>
        </div>
        
      </div>
  </div>

  
 




